# Database
DATABASE_URL=jdbc:postgresql://localhost:5432/eventdb
DB_USER=postgres
DB_PASSWORD=postgres

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT
JWT_SECRET=your_super_secret_key_at_least_32_characters_long
JWT_ACCESS_EXPIRY=900
JWT_REFRESH_EXPIRY=604800

# Email (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=baonq8828@gmail.com
SMTP_PASS=mcnzqotkvlxblchr
EMAIL_FROM=PrestigePlanner <noreply@prestigeplanner.vn>

# Storage (Cloudinary)
CLOUDINARY_CLOUD_NAME=dsiplrftz
CLOUDINARY_API_KEY=389137796857129
CLOUDINARY_API_SECRET=gNIPGlpgFX-creXxAJPoCVTpenA

# Frontend
FRONTEND_URL=http://localhost:5173

# QR
QR_SECRET=your_qr_signing_secret_key

# NGROK (For exposing backend to Vercel HTTPS frontend)
# Lấy mã token tại: https://dashboard.ngrok.com/get-started/your-authtoken
NGROK_AUTHTOKEN=3Dvkj8LIl57aAkrDQv24Pte3W3s_333aQ4vGDvK4r4Zo7bJiU
